.clearfix {
  *zoom: 1;
}


.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}
.clearfix:after {
	clear: both;
}

#overview .navbar-inner table {
	color: #f1f1f1;
	width: 100%;
	}
	
	#overview .navbar-inner table td {
		padding: 8px 0;
	}
	
	#overview .navbar-inner table h1 {
		color: #fff;
	}
	
	#overview .navbar-inner table .logo {
		padding: 0 20px;
	}
	
#content {
	padding: 100px 20px;
	}
	
	#content h1 {
		text-align: center;
	}
	
	#content .node {
		margin: 20px 0;
		}
		
		#content .node .quick-stats {
			text-align: left;
			}
			
			#content .node .quick-stats > * {
				margin-left:60px;
			}
			
			#content .node .quick-stats a {
				color: #000;
				text-decoration: underline;
				padding: 0 3px;
				}
				
				#content .node .quick-stats a:hover {
					background: #000;
					color: #fff;
					text-decoration: none;
				}
		
		#content .node div.ok {
			background: url(/bamt/ok.png) no-repeat 0 0;
		}
		
		#content .node div.error {
			background: url(/bamt/error.png) no-repeat 0 0;
		}
		
		#content .node .full-stats {}
		
			#content .node .full-stats td.error {
				background: #F2DEDE !important;
				border-color: #EED3D7;
			}